/* app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --muted: #9aa0a6;
}

html, body, #__next {
  height: 100%;
}

body {
  background: #0b0b0d;
  color: #e6eef6;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  margin: 0;
}
